@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
    font-size: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
}

:root {
    --cor1: #685c5d;
    --cor2: #917476;
    --cor3: #8c5d60;
    --cor4: #894855;
    --cor5: #70323b;
    --cor6: #4a4a47;
}

@media screen and (min-width:769px) {
    body {
        display: block;
        margin: 0;
        padding: 0;
        background-image: url('img/background.png');
        background-size: cover;
    }
    main {
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        width: 1100px;
        height: 100%;
        border: 1px solid #8c5d60;
        box-shadow: 0px 5px 10px #917476;
    }
    .grid-img {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        margin-top: 30px;
        gap: 750px;
    }
    #workshop {
        display: block;
        padding: 2px;
        align-items: center;
        justify-content: center;
        height: 70px;
    }
    #logo_w {
        display: block;
        position: relative;
        height: 100px;
    }
    #hr_img {
        display: none;
    }
    .grid-header {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        margin: -60px auto 0 auto;
        gap: 30px;
        color: white;
        width: 100%;
        font-size: 1.5em;
    }
    #p_centro {
        border-left: 1px solid white;
        border-right: 1px solid white;
        padding-left: 20px;
        padding-right: 20px;
    }
    /*INICIO ANIMAÇÃO*/
    .text-reveal {
        overflow: hidden;
        position: relative;
        &::after {
            animation: text-reveal 3s ease forwards;
            background-color: white;
            bottom: 0;
            content: '';
            display: block;
            left: 0;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    @keyframes text-reveal {
        from {
            transform: translateX(-101%);
        }
        to {
            transform: translateX(101%);
        }
    }
    @keyframes fade {
        to {
            opacity: 1;
        }
    }
    /*FIM ANIMAÇÃO*/
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        justify-content: center;
        text-align: center;
        margin: 30px auto 0 auto;
        padding: 15px 0 15px 0;
        font-size: 2em;
        color: white;
        letter-spacing: .5em;
        width: 100%;
    }
    .grid-container hr {
        margin: 5px 0 5px 0;
    }
    .grid-palestrantes {
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto auto;
        gap: 25px;
        color: white;
        height: 390px;
    }
    .item_palestrantes {
        animation: gradient 10s ease infinite;
        background: linear-gradient(0deg, #70323b, #894855, #8c5d60, #917476) no-repeat;
        border: 1px solid #685c5d;
        margin-top: 10px;
        padding: 25px 10px;
        text-align: center;
        height: 310px;
        width: 210px;
        box-shadow: 5px 5px 5px #917476;
        border-radius: 15px;
    }
    .item_palestrantes img {
        width: 150px;
        justify-content: center;
    }
    .item_palestrantes h4 {
        padding: 5px 0 6px 0;
        justify-content: center;
        font-size: 1.3em;
        font-weight: bolder;
    }
    .item_palestrantes p {
        margin-top: 5px;
        justify-content: center;
        font-size: 1.2em;
    }
    .grid-container2 {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        height: 366px;
        gap: 20px;
        padding-top: 60px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
    }
    .item2 {
        animation: gradient 10s ease infinite;
        background: linear-gradient(0deg, #70323b, #894855, #8c5d60, #917476) no-repeat;
        border: 1px solid #685c5d;
        padding: 20px;
        text-align: center;
        height: 270px;
        width: 200px;
        box-shadow: 5px 5px 5px #917476;
        border-radius: 15px;
    }
    .item2 img {
        width: 150px;
        justify-content: center;
    }
    .item2 h4 {
        padding: 5px 0 6px 0;
        justify-content: center;
        font-size: 1.3em;
        font-weight: bolder;
    }
    .grid-construindo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        text-align: center;
        max-width: 650px;
        background-color: #4a4a47c6;
        padding: 10px;
        border-radius: 15px 5px;
        font-size: 1.5em;
        color: white;
        letter-spacing: .2em;
    }
    .ticket h3 {
        display: block;
        text-align: center;
        align-items: center;
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
        color: white;
        font-size: 2em;
    }
    .ticket img {
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
    }
    .executivo {
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #685c5d;
        border-radius: 15px;
        width: 350px;
        box-shadow: 0 10px 10px #917476;
        overflow: hidden;
    }
    .executivo h3 {
        margin-top: 0;
        font-size: 2em;
        padding: 10px;
        animation: gradient 10s ease infinite;
        background: linear-gradient(45deg, #70323b, #894855, #8c5d60, #917476) no-repeat;
        border-radius: 15px 15px 0 0;
    }
    .executivo ul {
        margin-top: 15px;
    }
    .executivo ul li {
        display: block;
        flex-direction: column;
        text-decoration: none;
        text-align: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        color: white;
        font-size: 1.5em;
        padding: 10px;
    }
    .executivo p {
        display: block;
        text-align: center;
        animation: gradient 10s ease infinite;
        background: linear-gradient(-45deg, #70323b, #894855, #8c5d60, #917476) no-repeat;
        color: white;
        margin-top: 10px;
        font-size: 2em;
        border-radius: 0 0 15px 15px;
        padding: 10px;
    }
    .vip {
        display: block;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #685c5d;
        border-radius: 15px;
        width: 350px;
        box-shadow: 0 10px 10px #917476;
        overflow: hidden;
    }
    .vip h3 {
        margin-top: 0;
        font-size: 2em;
        padding: 10px;
        background: linear-gradient(180deg, #70323b, #894855, #8c5d60, #917476) no-repeat;
        border-radius: 15px 15px 0 0;
    }
    .vip ul li {
        display: block;
        flex-direction: column;
        text-decoration: none;
        text-align: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        color: white;
        font-size: 1.5em;
        padding: 10px;
    }
    .vip ul {
        margin-top: 15px;
    }
    .vip p {
        display: block;
        text-align: center;
        background: linear-gradient(0deg, #70323b, #894855, #8c5d60, #917476) no-repeat;
        color: white;
        margin-top: 10px;
        font-size: 2em;
        border-radius: 0 0 15px 15px;
        padding: 10px;
    }
    .palestrantes {
        margin-bottom: -5px;
    }
    footer {
        display: flex;
        background-color: #70323b;
        width: 100%;
        text-align: center;
        justify-content: center;
        height: 40px;
    }
    footer ul {
        display: flex;
        justify-content: center;
        padding-top: 5px;
    }
    footer ul li {
        display: inline-block;
        text-decoration: none;
        list-style-type: none;
        font-size: 1em;
        padding-top: 5px;
        padding-right: 25px;
        text-align: center;
        justify-content: center;
    }
    li a:hover {
        background-color: white;
        color: #4a4a47;
        border-radius: 15px;
        padding-top: 5px;
    }
    a {
        text-decoration: none;
        color: white;
        padding: 5px;
        align-items: center;
        justify-content: center;
    }
}