@charset "UTF-8";
@media screen and (max-width:1199px) {
    * {
        margin: 0;
        padding: 0;
        font-size: 1em;
    }
     :root {
        --cor1: #685c5d;
        --cor2: #917476;
        --cor3: #8c5d60;
        --cor4: #894855;
        --cor5: #70323b;
        --cor6: #4a4a47;
    }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('img/background.png');
        background-size: 300% 300%;
        /*background-size: 30% 300%; */
        /*uma "faixa" é criada e fica de uma lado para outro*/
        font-family: sans-serif;
        color: white;
    }
    .grid-header {
        display: block;
        position: relative;
        flex-direction: column;
        text-align: right;
        top: -220px;
        left: 250px;
    }
    main {
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        height: 1600px;
    }
    #caixa1 {
        display: block;
        position: relative;
        padding: 15px;
        top: 20px;
        left: 15px;
        z-index: 1;
    }
    .texto1 {
        letter-spacing: .1em;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: justify;
        font-size: 1em;
    }
    .texto2 {
        letter-spacing: .3em;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: justify;
        font-size: 1em;
        font-weight: bolder;
    }
    .texto3 {
        letter-spacing: .15em;
        text-align: justify;
        font-size: .75em;
    }
    .texto4 {
        letter-spacing: .3em;
        text-align: justify;
        font-size: 1.8em;
        font-weight: bolder;
        padding-bottom: 20px;
    }
    #caixa2 {
        display: block;
        justify-content: center;
        width: 100%;
        left: 30%;
        align-items: center;
    }
    #workshop {
        display: block;
        margin-top: -100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        padding: 10px;
        width: 250px;
        animation: fade 6s ease;
    }
    @keyframes fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    #caixa3 p {
        margin-top: 20px;
        font-size: .8em;
        text-align: center;
        margin-bottom: 15px;
    }
    span .text-reveal {
        overflow: hidden;
        position: relative;
        &::after {
            animation: text-reveal 4s ease forwards;
            background-color: white;
            bottom: 0;
            content: '';
            display: block;
            left: 0;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    @keyframes text-reveal {
        from {
            transform: translateX(-101%);
        }
        to {
            transform: translateX(101%);
            opacity: 0;
        }
    }
    #caixa3 {
        display: block;
        justify-content: center;
    }
    .grid-palestrantes {
        display: grid;
        justify-content: center;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        margin: 620px 0 0 0;
    }
    .item_palestrantes {
        border: 1px solid #685c5d;
        padding: 20px;
        text-align: center;
        height: 250px;
        width: 180px;
        box-shadow: 5px 5px 5px #917476;
        border-radius: 15px;
    }
    .item_palestrantes img {
        width: 150px;
        justify-content: center;
    }
    .item_palestrantes h4 {
        margin-top: 5px;
        justify-content: center;
    }
    .item_palestrantes p {
        margin-top: 5px;
        justify-content: center;
    }
    .grid-container2 {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        justify-content: center;
        gap: 20px;
        margin-top: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .item2 {
        border: 1px solid #685c5d;
        padding: 20px;
        text-align: center;
        height: 250px;
        width: 200px;
        box-shadow: 5px 5px 5px #917476;
        border-radius: 15px;
    }
    .item2 img {
        width: 150px;
        justify-content: center;
    }
    footer {
        background-color: #70323b;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        text-align: center;
        padding: 10px;
    }
    ul li {
        display: inline-block;
        text-decoration: none;
        list-style-type: none;
        font-size: .8em;
        padding-right: 25px;
        text-align: center;
    }
    li a:hover {
        background-color: white;
        color: #4a4a47;
        border-radius: 15px;
    }
    a {
        text-decoration: none;
        color: white;
        padding: 5px;
    }
    #logo_w {
        display: block;
        position: fixed;
        width: 60px;
        bottom: 1px;
        right: 30px;
        animation: fade 6s ease-in-out;
    }
}